<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <form action="/left" method="post">
    <div class="round-button"><div class="round-button-circle"><button type="submit" class="round-button"><span><</span></button></div></div> 
</form>
<form action="/standup" method="post">
     <div class="round-button"><div class="round-button-circle"><button type="submit" class="round-button"><span>On</span></button></div></div>
    </form>
    <form action="/up" method="post">
    <div class="round-button"><div class="round-button-circle"><button type="submit" class="round-button"><span>Up</span></button></div></div>
</form>
<form action="/right" method="post">
    <div class="round-button"><div class="round-button-circle"><button type="submit" class="round-button"><span>></span></button></div></div>
    </form>
</body>
</html>